@font-face {
    font-family: "adineuePRO";
    src: url(adineue-pro-black.woff2) format("woff2");
}
@font-face {
    font-family: "adihaus";
    src: url(adihaus.woff2) format("woff2");
}
body {
    background: darkslategrey;
    font-family: "adineuePRO";
}
h4 {
    font-family: "adihaus";
    color: white;
}
p {
    font-family: "adihaus";
}
.apihealth-header {
    margin: 0;
    padding: 10px;
    font-size: 24px;
    color: white;
    background: black;
    display: flex;
    align-items: center;
}
.apihealth-header img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.apihealth-content {
    margin: 20px 40px;
}
.apihealth-row {
    font-family: "adihaus";
    height: 40px;
    line-height: 40px;
    width: 100%;
    margin-bottom: 1px;
    display: flex;
}
.apihealth-row a {
    color: white;
    width: 100%;
    padding-left: 10px;
    background: black;
}
.apihealth-result {
    width: 40px;
    height: 40px;
}
.apihealth-result.success {
    background:#009639;
}
.apihealth-result.error {
    background:#f44141;
}
.apihealth-collapse {
    color: white;
}
a.apihealth-collapse:hover {
    color: white;
}
.apihealth-table {
    background: aliceblue;
    padding: 15px;
}
.apihealth-border {
    border-radius: 0;
    border: none;
    margin-bottom: 1px;
}
.apihealth-response-body {
    font-size: 12px;
}
.apihealth-summary {
    padding: 15px;
    font-family: "adihaus";
    color: white;
}
.apihealth-summary hr {
    border-top: 1px solid white;
}
.apihealth-panel-group {
    margin-bottom: 1px;
    border: none;
    font-family: "adihaus";
}
.apihealth-panel-heading {
    border-radius: 0;
    border: none;
    background: darkcyan;
    color:white;
    padding: 0;
    display: flex;
}
.apihealth-panel-heading-status {
    width: 50px;
    height: 30px;
}
.apihealth-title-request {
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    line-height: 30px;
    padding-left: 15px;
    color: white;
    background: black;
}
.apihealth-title-request:hover {
    color: white;
    text-decoration: none;
}
.apihealth-title-request h4 {
    line-height: 30px;
}
.apihealth-panel-folder {
    color: white;
    margin-top: 15px;
}