<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Endpoints health Tool</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
</head>
<body>
    <header class="apihealth-header">
        <img src="logo.png" />
        <div>
            <h1>Endpoints health Tool</h1>
            <h4>API Monitoring</h4>
        </div>
    </header>
    <div class="apihealth-content">
        {{#each results}}
            <div class="apihealth-row">
                {{#if failures}}
                    <div class="apihealth-result error">&nbsp;</div>
                    <a href="{{fileName}}">{{name}}: {{failures}} errors</a>
                {{else}}
                    <div class="apihealth-result success">&nbsp;</div>
                    <a href="{{fileName}}">{{name}}</a>
                {{/if}}
            </div>
        {{/each}}
    </div>
</body>
</html>