<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Endpoints health Tool</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
</head>
<body>
    <header class="apihealth-header">
        <img src="logo.png" />
        <div>
            <h1>Endpoints health Tool</h1>
            <h4>API Monitoring</h4>
        </div>
    </header>
    <div class="apihealth-content">
        <div class="apihealth-summary">
            <p>{{timestamp}}</p>
            <div class="row">
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-4">&nbsp;</div><div class="col-md-4">Total</div><div class="col-md-4">Failed</div>

            {{#with summary}}
                {{#with stats}}
                <div class="col-md-4">Requests</div><div class="col-md-4">{{requests.total}}</div><div class="col-md-4">{{requests.failed}}</div>
                <div class="col-md-4">Test Scripts</div><div class="col-md-4">{{testScripts.total}}</div><div class="col-md-4">{{testScripts.failed}}</div>
                <div class="col-md-4">Assertions</div><div class="col-md-4">{{assertions.total}}</div><div class="col-md-4">{{assertions.failed}}</div>
                {{/with}}

                <div class="col-md-12"><hr /></div>
                <div class="col-md-4">Total run duration</div><div class="col-md-8">{{duration}}</div>
                <div class="col-md-4">Total data received</div><div class="col-md-8">{{responseTotal}} (approx)</div>
                <div class="col-md-4">Average response time</div><div class="col-md-8">{{responseAverage}}</div>

                <div class="col-md-12"><hr /></div>
                <div class="col-md-4" {{#if failures}}style="color:#f44141"{{/if}}>Total Failures</div>
                <div class="col-md-4" {{#if failures}}style="color:#f44141"{{/if}}>{{failures}} errors</div>
            {{/with}}
            </div>
        </div>

        <h4>Requests</h4>

        {{#each aggregations}}
            {{#if parent.name}}
            <div class="apihealth-panel-group" id="collapse-folder-{{parent.id}}" role="tablist" aria-multiselectable="true">
                <div role="tab" id="folderHead-{{parent.id}}" class="apihealth-panel-folder">
                    <h4 style="font-size: 18px;" class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#folderData-{{parent.id}}" aria-controls="collapseOne"><strong>{{parent.name}}</strong></a></h4>
                </div>
                <div id="folderData-{{parent.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="folderHead-{{parent.id}}">
                {{> aggregations}}
                </div>
            </div>
            {{else}}
            {{> aggregations}}
            {{/if}}
        {{/each}}
    </div>
</body>
</html>

{{#*inline "aggregations"}}
    {{#each executions}}
        <div class="apihealth-panel-group" id="collapse-request-{{item.id}}" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default apihealth-border">
                
                <div class="panel-heading apihealth-panel-heading" role="tab" id="requestHead-{{item.id}}">
                    <div class="apihealth-panel-heading-status"
                    {{#if cumulativeTests.failed}}
                        style="background:#f44141;"
                    {{else}}
                        style="background:#009639;"
                    {{/if}}>
                    </div>
                    <a data-toggle="collapse" data-parent="#accordion" href="#requestData-{{item.id}}" aria-controls="collapseOne" class="apihealth-title-request"><h4 class="panel-title"></h4>{{item.name}}</h4></a>
                </div>

                <div id="requestData-{{item.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="requestHead-{{item.id}}">
                    <div class="panel-body">
                        {{#with request}}
                            {{#if description.content}}
                                <div class="col-md-4">Description</div><div class="col-md-8" style="white-space: pre-wrap;">{{description.content}}</div>
                                <div class="col-md-12">&nbsp;</div>
                            {{/if}}

                            <div class="col-md-4">Method</div><div class="col-md-8">{{method}}</div>
                            <div class="col-md-4">URL</div><div class="col-md-8"><a href="{{url}}" target="_blank">{{url}}</a></div>
                            <div class="col-md-4">Body</div><div class="col-md-8">{{body}}&nbsp;</div>
                        {{/with}}
                        <div class="col-md-12">&nbsp;</div>
                        {{#with response}}
                            <div class="col-md-4">Status code</div><div class="col-md-8">{{code}}</div><br/>
                            <div class="col-md-4">Body</div><div class="col-md-8 apihealth-response-body">{{body}}&nbsp;</div><br/>
                        {{/with}}

                        <div class="col-md-12">&nbsp;</div>
                        <div class="col-md-4">Mean time per request</div><div class="col-md-8">{{mean.time}}</div><br/>
                        <div class="col-md-4">Mean size per request</div><div class="col-md-8">{{mean.size}}</div><br/>

                        <div class="col-md-12">&nbsp;</div>
                        <br/><div class="col-md-4">Total passed tests</div><div class="col-md-8">{{cumulativeTests.passed}}</div>
                        <div class="col-md-4">Total failed tests</div><div class="col-md-8">{{cumulativeTests.failed}}</div><br/>

                        {{#if assertions.length}}
                            <div class="col-md-12">&nbsp;</div>
                            <div class="col-md-4">Tests</div>

                            <div class="col-md-8">
                                <table class="table table-responsive table-condensed">
                                    <thead><tr><th>Name</th><th>Pass count</th><th>Fail count</th></tr></thead>
                                    <tbody>
                                        {{#each assertions}}
                                            <tr {{#if this.failed}}style="color:#f44141"{{/if}}>
                                                <td>{{this.name}}</td><td>{{this.passed}}</td><td>{{this.failed}}</td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                </table>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{/inline}}